<!DOCTYPE html>
<html>
  <head>
    <title>GradLives</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p>
  		<%= link_to 'Home', root_path %>
  		<%= link_to 'Courses', # %>
  		<%= link_to 'Disciplines', # %>
  		<%= link_to 'About', # %>
  	</p>
    <%= yield %>
  </body>
</html>
